<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <title>filter</title>
</head>

<body ng-app="myApp">
    <div ng-controller="currencyCtrl as main">
        <!-- currency -->
        <ul>
            <li>currency1:<span>{{main.cost | currency}}</span></li>
            <li>currency2:<span>{{main.cost | currency:"NT$":0 }}</span></li>
        </ul>

        <!-- filter -->
        <input type="text" ng-model="search">
        <ul ng-repeat="i in main.goods | filter:search">
            <li><span>{{i.name}}</span>{{i.phone}}</li>
        </ul>

        <!-- dateTime -->
        Time:<span>{{main.dateTime | date:"yyyy/MM/dd"}}</span>

        <!-- json -->
        <pre>
            {{main.goods | json}}
        </pre>

        <!-- uppercase lowercase -->
        {{main.greeting | lowercase}} {{main.greeting | uppercase}}

        <!--number-->
        {{main.cost | number}} {{main.cost | number:1}} {{main.cost | number:2}}

        <!--orederBy-->
        <ul ng-repeat="i in main.goods | orderBy:'name'">
            <li><span>{{i.name}}</span>{{i.phone}}</li>
        </ul>

        <ul ng-repeat="i in main.goods | orderBy:'-name'">
            <li><span>{{i.name}}</span>{{i.phone}}</li>
        </ul>

    </div>
    <script>
        (function () {

            /*
            /* filter
            /* this parent / children 不會互相影響
            */
            var app = angular.module('myApp', []);
            app.controller('currencyCtrl', function () {
                this.cost = 200;
                this.dateTime = new Date().getTime();
                this.greeting = 'Hello';
                this.goods = [{ name: 'John', phone: '555-1276' },
                { name: 'Mary', phone: '800-BIG-MARY' },
                { name: 'Mike', phone: '555-4321' },
                { name: 'Adam', phone: '555-5678' },
                { name: 'Julie', phone: '555-8765' },
                { name: 'Juliette', phone: '555-5678' }]
            });



        })();
    </script>


</body>

</html>